@(repoInfo: models.Repo)(contributors: Seq[Contributor])(commits: Seq[Commit])

@contributor(contrib: models.Contributor) = {
	<li class="well span3">
		<img src="@contrib.avatar_url" width="50" height="50" style="float:left" />
		<div class="container span2" style="margin-left:10px;float:left">
			<p><a href="@contrib.url" target="_blank">@contrib.login</a></p>
			<p><small>Commits: @contrib.contributions</small></p>
		</div>
	</li>
}

@lightCommit(commitData: models.Commit) = {
	<li style="text-align:center">
		<a href="@commitData.url(repoInfo)" target="_blank" class="span3 alert alert-info" rel="popover" data-content="@commitData.message" data-original-title="<img src='@commitData.committer.avatar_url' width='50' height='50' /> @commitData.committer.login <small>&mdash; @commitData.prettyDate</small>">@commitData.printedMessage</a>
	</li>
}

@application.main(Some(repoInfo.owner + "/" + repoInfo.name)) {

	<div class="container">
    <h1>@repoInfo.owner / @repoInfo.name <iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=@repoInfo.owner&repo=@repoInfo.name&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px" style="float:right"></iframe></h1>
  
  	<p><i class="icon-chevron-right"></i>@repoInfo.description</p>
    
    <div class="span8" style="float:left;margin-left:0">
				<h2>Contributors</h2>
				<ul class="unstyled">
				@for(contrib <- contributors) {
					@contributor(contrib)
				}
				</ul>
    </div>
    
    <div class="span4" style="float:left">
		  <h2 style="text-align:center">Last Commits</h2>
		  <ul class="unstyled timeline">
		  @for(commitData <- commits) {
		  	@lightCommit(commitData)
		  }
		  </ul>
		</div>
  </div>
}
