@(title: Option[String])(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title.map("Github RepAct - " + _).getOrElse("Github RepAct")</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' media='screen' href='@routes.Assets.at("css/bootstrap.min.css")'>
    <link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/main.css")'>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/jquery.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("js/bootstrap.min.js")'></script>
    <style type="text/css">
        body {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
        	<div class="container">
            <ul class="nav">
                <li><a id="titleLink" class="brand" href="/">Github Repository Activity</a></li>
                <li><a href="/about">About</a></li>
            </ul>
          </div>
        </div>
    </div>
    
    @content
</body>
</html>
